fsdb/**/*
log/**/*
!log/**/
nLint/**/*
!**/.gitkeep
csrc/
*.daidir/
*.vdb/
*.log
*.vcd
simv
*.key
nLintDB/
nLintLog/
*.conf
*.rc
verdiLog
builds/
*.dat
*.fst
__pycache__
*.xml
*.txt
*.info
cov_html
!requirements/*.txt
sram_gen/
*.drawio
.DC_log_snapshot_*/
alib-52/
backend/results/
*.pvl
*.syn
*.mr
*.html
*.csh
*.pvk
outputs/
reports/
.vscode